name: Git CTF Level Î© Validator

on:
  push:

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout full history
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Make validator executable
        run: chmod +x validate.sh

      - name: Run validation
        run: ./validate.sh
